@model IEnumerable<BlowOutNew.Models.Instrument>

@{
    ViewBag.Title = "Index";
}
@*// jQuery*@
@*This page displays all of the instruments and allows the user to select the instrument they want to learn more about.  By clicking
    on the instrument, they pass through an instrumentName, that tells the system what to display on the Rentals/Details page.*@

<h3 style="padding-bottom:60px; text-align: center;">Click the image of an instrument you're interested in learning more about renting.</h3>
<div class="contain">
    

    @foreach (var item in Model)
    {

    <div class="col">
         @Html.ActionLink(item.description, "Details", new {  instName = item.description, instimage= item.image })<img src="@Url.Content(item.image)" height="150" />
    </div>

}

</div>
    @*<div class="col">
            <a href="@Html.ActionLink("Buy Now", "Details", "Rentals", new {  })">
                <img src="~/Content/images/Instruments/Trumpet.jpg" height="150" />
                <p>Trumpet</p>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Trombone"})">
                <img src="~/Content/images/Instruments/Trombone.jpg" height="150" />
                <p>Trombone</p>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Tuba"})">
                <img src="~/Content/images/Instruments/Tuba.jpg" height="150" />
                <p>Tuba</p>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Flute"})">
                <img src="~/Content/images/Instruments/Flute.jpg" height="150" />
                <p>Flute</p>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Clarinet"})">
                <img src="~/Content/images/Instruments/Clarinet.jpg" height="150" />
                <p>Clarinet</p>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("Details", "Rentals", new { instrumentName = "Saxophone"})">
                <img src="~/Content/images/Instruments/Saxophone.jpg" height="150" />
                <p>Saxophone</p>
            </a>
        </div>
    </div>*@
